body{
  width: 100vw;
  height: 100vh;
  background-color:rgb(41, 41, 41);
  color: white;
  font-family: 'Barlow', sans-serif;
}
.container{
  width: 90vw;
  height: 90vh;
}
.row{
  width: 21vw;
  height: 85vh;
  margin-left: -9.5vw;
}
#menu{
  background-color: black;
}
.col-4{
  margin-top: 10vh;
}
.nav-item{
  margin: 2vh -13vw 2vh 0vw;
}
#logo{
  margin-top: -8vh;
  margin-bottom: 2vh;
}
#logoDos{
  margin-top: 8vh;
}
.nav-link{
  text-align: center;
  color: white;
}
.nav-link:hover{
  color: white;
}
.btn{
  color: white;
}
.btn:hover{
  color: white;
}
#home{
  border-style: solid;
  border-color: green;
  box-shadow: 0px 0px 40px green;
}
#home:hover{
  background-color: green;
  box-shadow: 0px 0px 40px green;
}
#studies{
  border-style: solid;
  border-color: blue;
  box-shadow: 0px 0px 40px blue;
}
#studies:hover{
  background-color: blue;
  box-shadow: 0px 0px 40px blue;
}
#projects{
  border-style: solid;
  border-color: orange;
  box-shadow: 0px 0px 40px orange;
}
#projects:hover{
  background-color: orange;
  box-shadow: 0px 0px 40px orange;
}
#hobbies{
  border-style: solid;
  border-color: red;
  box-shadow: 0px 0px 40px red;
}
#hobbies:hover{
  background-color: red;
  box-shadow: 0px 0px 40px red;
}
#contImagenDos{
  margin-left: 4vw;
}
#imagenDos{
  width: 15vw;
  height: 15vh;
  margin-top: -5vh;
 /*  margin-left: 5vw; */
}
#photo{
  width: 19vw;
  height: 39vh;
  float: left;
  margin-left: 24vw;
  margin-top: -66vh;
}
#info{
  float: left;
  width: 20vw;
  height: 50vh;
  margin-left: 55vw;
  margin-top: -70vh;
}
#name{
  margin-left: 1vw;
  text-align: justify;
}
.letterD{
  color: blue;
  font-family: 'Barlow', sans-serif;
}
.letterA{
  color: green;
  font-family: 'Barlow', sans-serif;
}
.letterR{
  color: red;
  font-family: 'Barlow', sans-serif;
}
.letterDTwo{
  color: orange;
  font-family: 'Barlow', sans-serif;
}
footer{
  width: 100vw;
  height: 10vh;
  margin-top: 5vh;
  margin-left: -9.5vw;
  background-color:rgba(255, 255, 255, 0.2);
}
.contact{
  float: left;
  margin-top: 2vh;
  margin-left: 10vw;
}
#contContact{
  margin-left: 20vw;
}
#face{
  width: 3vw;
  height: 6vh;
  margin-top: 0vh;
}
#twitter{
  width: 3vw;
  height: 6vh;
  margin-top: 0vh;
}
#github{
  width: 3vw;
  height: 6vh;
  margin-top: 0vh;
}
#mail{
  width: 3vw;
  height: 6vh;
  margin-top: 0vh;
  margin-left: 0vw;
  float: left;
}
#txtMail{
  color: black;
  margin-left: 1vw;
  margin-top: -1vh;
  float: left;
}
#dirMail{
  color: black;
  float: left;
  margin-top: 1vw;
  margin-left: -6.6vw;
}
/* Rotation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#face:hover{
    animation-name: rotate;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
#twitter:hover{
  animation-name: rotate;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
#github:hover{
  animation-name: rotate;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
#mail:hover{
  animation-name: rotate;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
a:hover{
  text-decoration: none;
}

/* Responsive */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  body{
    height: 100vw;
  }
  .row{
    width: 100vw;
    height: 50vh;
    margin-left: -9.5vw;
  }
  #menu{
    width: 33vw;
    height: 80vh;
  }
  #logo{
    margin-left: -10vw;
  }
  h1{
    font-size: 3.5vh;
    margin-left: 12vw;
  }
  .btn{
    width: 20vw;
    margin-left: 2vw;
  }
  a{
    margin-left: -4.5vw;
  }
  #linkHome{
    margin-left: -2vw;
  }
  #linkStudies{
    margin-left: -3vw;
  }
  #logoDos{
    width: 30vw;
    margin-top: 10vh;
    margin-left: -5vw;
  }
  #photo{
    width: 40vw;
    height: 25vh;
    margin-top: -70vh;
    margin-left: 35vw;
  }
  #name{
    text-align: left;
  }
  #info{
    width: 52vw;
    height: 35vh;
    font-size: 2vh;
    margin-left: 30vw;
    margin-top: -40vh;
  }
  footer{
    width: 99.5vw;
    margin-top: 10vh;
  }
  .contact{
    margin-left: 2vw;
    margin-top: 3vh;
  }
  #face{
    width: 10vw;
    height: 5vh;
    margin-top: 0vh;
  }
  #twitter{
    width: 10vw;
    height: 5vh;
    margin-top: 0vh;
    margin-left: 10vw;
  }
  #github{
    width: 10.5vw;
    height: 5.5vh;
    margin-top: -0.5vh;
    margin-left: 10vw;
  }
  #mail{
    width: 10.5vw;
    height: 5.5vh;
    margin-top: -0.5vh;
    margin-left: 5vw;
  }
  #txtMail{
    display: none;
  }
  #dirMail{
    display: none;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}